# Nuxt
dist
.nuxt
.nitro
.output

# Env
.env

# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
