@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Fira Code";
		src: local("fira-code"), url("/fonts/fira-code/FiraCode-VariableFont_wght.ttf");
	}
}
